=javascript_include_tag 'jquery.ddown'
:javascript
  jQuery(document).ready(function() {
      jQuery(".btn").hover(function() {
          jQuery(this).addClass("hover");
      }, function() {
          jQuery(this).removeClass("hover");
      });
  });
= form_for @group, :html => {:multipart => true} do |f|
  %p
    = f.error_messages
  %p
    %span{:style => "font-weight:bold;"}
      = f.label :title, t('groups.title')
    = f.text_field :title, :class => "textlarge"
  %p
    %span{:style => "font-weight:bold;"}
      = f.label :description, t('groups.description')
    %br/
    = f.text_area :description, :rows => 8, :cols => 34
  %p
    %span{:style => "font-weight:bold;"}
      =t('groups.choose_a_logo_to_upload')
    %br/
    - if @group.logo && @group.logo.file?
      = image_tag @group.logo.url(:thumb).to_s, :class => "group_member"
    = f.file_field :logo, :size => "20"
  %p
    = f.radio_button :public, "true", :checked => true
    = "Anyone can Join"
    %br/
    = f.radio_button :public, false
    = "To be Moderated"
  %p
    = f.submit "Submit Group", :class =>"btn loginbtn 1thickbox", :alt => "#TB_inline?height=320&width=300&inlineId=myOnPageContent"

