= form_for @group, :html => {:multipart => true} do |f|
  %p
    = f.error_messages
  %p{:style => "font-weight:bold;"}
    = f.label :title, t('groups.title')
    = f.text_field :title, :class => "textlarge"
  %p{:style => "font-weight:bold;"}
    = f.label :description, t('groups.description')
    %br/
    = f.text_area :description, :rows => 8, :cols => 50
  %p{:style => "font-weight:bold;"}
    %label
      =t('groups.choose_a_logo_to_upload')
    %br/
    - if @group.logo && @group.logo.file?
      = image_tag @group.logo.url(:thumb_small).to_s
    = f.file_field :logo, :size => "20"
  %p
    = f.radio_button :public, "true", :checked => true
    = "Anyone can Join"
    %br/
    = f.radio_button :public, false
    = "To be Moderated"
  %p
    = f.submit

