#group
  .group_photo
    - if group.logo && group.logo.url(:medium)
      = link_to image_tag(@group.logo.url(:medium).to_s), @group
    - else
      = link_to image_tag("logo_default.png"), @group
    %br/
    - if @current_user_pending
      %h4= t('groups.group_pending_request')
    - if @member_is_moderator
      = link_to "Edit This Group", edit_group_path(@group)
      %br/
      = link_to "Admin", admin_group_path(@group)
      - if @pending_members && @pending_members.length > 0
        %hr{:style=>"width:200px;"}
        .group_member_display
          %b
            = @pending_members.length
            = t('groups.pending_requests')
          - for person in @pending_members
            %br/
            = image_tag(person.member.avatar_photo_url(:thumb), :class => "group_member")
            = person.member.login
            = link_to "Accept", accept_group_member_path(:group => @group.id, :member => person.member.id)
            = link_to "Reject", reject_group_member_path(:group => @group.id, :member => person.member.id)
    %hr{:style=>"width:200px;"}
    %b
      = image_tag "gold_badge.png"
      = t('groups.group_owner')
    .group_member_display
      = link_to @owner.login, user_path(@owner)
    %b
      = image_tag "silver_badge.png"
      = t('groups.moderators')
    .group_member_display
      - for person in @moderators
        = link_to person.member.login, user_path(person.member)
        %br/
    %hr{:style=>"width:200px;"}
    .group_member_display
      %h4
        = @members.length
        = t('groups.members_list')
      - for person in @members
        = link_to(image_tag(person.member.avatar_photo_url(:thumb), :class => "group_member"), user_path(person.member))
      %br
      %br
      
       

