%title ::Registration::
=javascript_include_tag 'jquery.ddown'
=javascript_include_tag 'jquery.validate'

:javascript
  jQuery(function() {
    jQuery('select').customStyle();
    jQuery(".btn").hover(function() {
        jQuery(this).addClass("hover");
    }, function() {
        jQuery(this).removeClass("hover");
    });

    jQuery("input[type='text'],input[type='password']").focus(function() {
        jQuery(this).parent().find("span.error").hide();
        jQuery(this).parent().find(".regpopup").show();
    });

    jQuery("input[type='text'],input[type='password']").blur(function() {
        jQuery(this).parent().find(".regpopup").hide();
    });

    jQuery("#form").validate({
        rules: { username: "required", email: { required: true, email: true }, password: "required", cpassword: "required", name: "required",  bname: "required", },
        messages: { username: "Invalid Username.", password: "Invalid password", cpassword: "Please Confirm your password ", fname: "Enter your first name", lname: "Enter your last name",  bname: "Enter Business Name", bowner: "Enter Business Owner" }
    });
  });

.reg-page
  = form_for :user, :url => users_path, :html => {:class => 'form'} do |f|
    .reg-form
      .spacerdiv
      .business-info
        %h2
          Signup
        .twocol
          .col.one
            .row
              %label
                User Name:
              .rel
                = f.text_field :login
                %span.regpopup Enter User Name
            .row
              %label
                Password:
              .rel
                = f.password_field :password
                %span.regpopup Enter Password
            .row
              %label
                Confirm Password:
              .rel
                = f.password_field :password_confirmation
                %span.regpopup Enter Confirm Password
            .row
              %label
                Name:
              .rel
                = f.text_field :name
                %span.regpopup Enter Name
            .row
              %label
                &nbsp;
              %input.btn{:type => "submit", :value => "Signup"}
          .col.two
            .row
              %label
                email ID:
              .rel
                = f.text_field :email
                %span.regpopup Enter Email
            .row
              %label
                Organization/Business:
              .rel
                = f.text_field :business_name
                %span.regpopup Enter Organization/Business
            .row
              %label
                Industry/Business:
              .rel
                = f.text_field :industry_type
            .row
              %label
                Location
              .rel
                = select("user", "country_id", Country.all.collect {|p| [ p.name, p.id ] }, {:include_blank => 'select one'})
          .spacerdiv