%title ::Registration::
=javascript_include_tag 'jquery.ddown'
=javascript_include_tag 'jquery.validate'

:javascript
  jQuery(document).ready(function() {
    jQuery(".btn").hover(function() {
        jQuery(this).addClass("hover");
    }, function() {
        jQuery(this).removeClass("hover");
    });

    jQuery("input[type='text'],input[type='password']").focus(function() {
        jQuery(this).parent().find("span.error").hide();
        jQuery(this).parent().find(".regpopup").show();
    });

    jQuery("input[type='text'],input[type='password']").blur(function() {
        jQuery(this).parent().find(".regpopup").hide();
    });

    jQuery("#form").validate();
  });

.reg-page
  = form_for :user, :url => users_path, :html => {:class => 'form', :id => "form"} do |f|
    .reg-form
      .spacerdiv
      .business-info
        %h2
          Signup
        = error_messages_for :user
        .twocol
          .col.one
            .row
              %label
                Full Name:
              .rel
                = f.text_field :fullname, :class => "required"
                %span.regpopup Enter Name
            .row
              %label
                Username:
              .rel
                = f.text_field :login, :class => "required"
                %span.regpopup Enter Username
            .row
              %label
                Password:
              .rel
                = f.password_field :password, :class => "required"
                %span.regpopup Enter Password
            .row
              %label
                Confirm Password:
              .rel
                = f.password_field :password_confirmation, :class => "required"
                %span.regpopup Enter Confirm Password
            
            .row
              %label
                &nbsp;
              %input.btn{:type => "submit", :value => "Signup"}
          .col.two
            .row
              %label
                email ID:
              .rel
                = f.text_field :email, :class => "required email"
                %span.regpopup Enter Email
            .row
              %label
                Organization/Business:
              .rel
                = f.text_field :business_name, :class => "required"
                %span.regpopup Enter Organization/Business
            .row
              %label
                Industry/Business:
              .rel
                = select_tag "user[industry_type_id]",options_for_select(IndustryType.all.collect {|i| [ i.name, i.id ] }, params[:user_industry_type_id])
                %span.regpopup Industry / Business Type
          .spacerdiv