#search_panel
  = text_field_tag 'search', "", {:autocomplete => "off", :size => 35, :id => "message_to", :class => "searchbox"}
  %input.btnsearch{:type => "submit", :value => ""}
  .auto_complete#message_to_auto_complete
    = auto_complete_field 'message_to', {:url => auto_complete_search_index_path, :tokens=>','}
  - if logged_in?
    = render :partial => 'shared/user_menu'
    - if current_user.unread_messages?
      #newmail
        = link_to :unread_messages.l(:count => current_user.unread_message_count), user_messages_path(current_user)
  - else
    =:welcome_message.l(:login_link => link_to(:log_in.l, login_path), :signup_link => link_to(:sign_up.l, signup_path))
  .spacerdiv
.main_logo
  %a{:href=>home_url, :title=>"#{configatron.community_name}"}
    = image_tag "logo.png", :alt => "logo", :height => "69", :width => "251"
.spacerdiv
