.yui-b
  -box :id => 'category_tips' do
    -if @post.category
      = render :partial => "categories/tips", :locals => {:category => @post.category}
    - else
      = render :partial => "categories/tips", :locals => {:category => nil}

  -box :class => "alt" do
    %a.button.positive{:href => '#', :onclick => "jQuery('#picture_div').show();jQuery('html, body').animate({scrollTop:jQuery('#tag_list').offset().top}, 'slow');return false;"}=:upload_an_image_for_your_post.l
  -box :class => "alt" do
    %a.button.positive{:href => '#', :onclick => "jQuery('#video_div').show();jQuery('html, body').animate({scrollTop:jQuery('#tag_list').offset().top}, 'slow');return false;"}=:upload_an_video_for_your_post.l
  -box :class => "alt" do
    %a.button.positive{:href => '#', :onclick => "jQuery('#doc_div').show();jQuery('html, body').animate({scrollTop:jQuery('#tag_list').offset().top}, 'slow');return false;"}=:upload_a_doc_for_your_post.l
#yui-main
  .yui-b
    -box do
      %h3
        =@post.category ? (:new_post_for_category.l :category => @post.category.name) : :new_post.l

      = error_messages_for :post

      = form_for(:post, :url => user_posts_path, :html => {:class => "MainForm", :id => 'post_form',:multipart =>   true}) do |f|
        - unless @post.category || @categories.blank?
          %label
            =:category.l
          %select{:id=>"post_category_id", :name=>"post[category_id]"}
            -for category in @categories
              %option{:value=>"#{category.id}"}= h(category.name)
        -else
          = f.hidden_field :category_id

        %label
          =:title.l
          %em="(#{:required.l})"
        = f.text_field :title

        %label
          =:body_text.l
          %em="(#{:required.l})"
        = f.text_area :raw_post, :style => "width:95%;"

        %label
          =:tags.l
          %em="(#{:optional_keywords_describing_this_post_separated_by_commas.l})"
        = text_field_tag 'tag_list', @post.tag_list, {:autocomplete => "off", :size => 35}
        .auto_complete#tag_list_auto_complete
          = auto_complete_field 'tag_list', {:url => { :controller => "tags", :action => 'auto_complete_for_tag_name'}, :tokens => [','] }

        %label
          %a{:href=> "#", :onclick => "$('poll-ui').toggle(); return false;"}
            = image_tag 'icons/poll.png'
            = :add_a_poll.l
          %em=:optional.l
        #poll-ui{:style => 'display:none'}=render :partial => 'polls/new'
        %fieldset#picture_div{:style => 'display:none;border:2px solid #ccc;padding:10px;margin-bottom:10px;'}
          %legend
            Upload Photo
          = f.file_field :picture
          %span{:style=>'margin-left:10px;background: none repeat scroll 0 0 #F9F9F9;border: 1px solid #DDDDDD;padding: 5px;'}
            %a.button.positive{:href => '#', :onclick => "remove_picture();return false;"}=:remove.l
          %br
          %span{:style=>'background: none repeat scroll 0 0 #F9F9F9;border: 1px solid #DDDDDD;padding: 2px;float:left;margin:10px 0px;'}
            only jpg, jpeg, pjpeg, gif, png, x-png files allowed to upload.
          #div{:style=>"clear:both;"}
        %fieldset#video_div{:style => 'display:none;border:2px solid #ccc;padding:10px;'}
          %legend
            Upload Video
          = f.file_field :video
          %span{:style=>'margin-left:10px;background: none repeat scroll 0 0 #F9F9F9;border: 1px solid #DDDDDD;padding: 5px;'}
            %a.button.positive{:href => '#', :onclick => "remove_video();return false;"}=:remove.l
          %br
          %span{:style=>'background: none repeat scroll 0 0 #F9F9F9;border: 1px solid #DDDDDD;padding: 2px;float:left;margin:10px 0px;'}
            only flv, mpeg, msvideo, wmv, avi, flash-video video files allowed to upload.
          #div{:style=>"clear:both;"}
        %fieldset#doc_div{:style => 'display:none;border:2px solid #ccc;margin-top:15px;padding:10px;'}
          %legend
            Upload Document
          = f.file_field :doc
          %span{:style=>'margin-left:10px;background: none repeat scroll 0 0 #F9F9F9;border: 1px solid #DDDDDD;padding: 5px;'}
            %a.button.positive{:href => '#', :onclick => "remove_doc();return false;"}=:remove.l
          %br
          %span{:style=>'background: none repeat scroll 0 0 #F9F9F9;border: 1px solid #DDDDDD;padding: 2px;float:left;margin-top:10px;'}
            only pdf,msword,ms-powerpoint,ms-excel,text/plain,text/html files allowed to upload.
          #div{:style=>"clear:both;"}
        #div{:style=>"clear:both;"}
        %label{:style=>"float:left;"}
          =:save_post_as.l
        = f.select(:published_as, [[:published.l, 'live'], [:draft.l, 'draft']])

        %label
          = f.check_box :send_comment_notifications
          =:send_comment_notifications.l

        %p
          = submit_tag :save.l
        %p
          =:or.l
          = link_to :cancel_and_go_back_to_my_posts.l, user_posts_path(@user)

  = observe_field  "post_category_id", {:url => {:controller => 'categories', :action => 'show_tips'}, :with => "id", :update => "category_tips", :complete => visual_effect(:highlight, "category_tips", :duration => 0.5)}
:javascript
  function remove_picture(){
    jQuery('#picture_div').hide();
    jQuery("#post_picture").replaceWith("<input type='file' id='post_picture' />");
  }
  function remove_video(){
    jQuery('#video_div').hide();
    jQuery("#post_video").replaceWith("<input type='file' id='post_video' />");
  }
  function remove_doc(){
    jQuery('#doc_div').hide();
    jQuery("#post_doc").replaceWith("<input type='file' id='post_doc' />");
  }
 