!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %link{:rel=>"shortcut icon", :href=>"#{home_url}favicon.ico"}
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html;charset=utf-8"}
    =csrf_meta_tag

    %title= page_title
    -if @meta
      -@meta.each do |key|
        %meta{:name=>key[0], :content=>key[1]}
  
    = render :partial => "shared/scripts_and_styles"
    - if @rss_title && @rss_url
      = auto_discovery_link_tag(:rss, @rss_url, {:title => @rss_title})
  %body
    #wrapper.styleselect
      .reg-page3
        / Header Start
        .header
          = render :partial => "shared/header"
        #navigation{:style => "font-size:10px;"}
          - if !logged_in?
            = link_to :log_in.l , login_path, :class => "rt"
          - else
            %a.rt{:href=>logout_url, :title=>:log_out_of_your.l + " #{configatron.community_name} " + :account.l}
              =:log_out.l
          %ul
            - if current_user
              = topnav_tab :dashboard.l, { :url => dashboard_user_path(current_user), :section => ['my_profile'] }
            - Category.find(:all).each do |c|
              = topnav_tab c.name, {:url => category_path(c), :section => [c.name]}
            = topnav_tab :forums.l, { :url => forums_path, :section => ['forums'] }
            = topnav_tab :blogs.l, { :url => popular_path, :section => ['popular'] }
            = topnav_tab :people.l, { :url => users_path, :section => ['users'] }
            = topnav_tab :group.l, {:url => groups_path, :section => ['groups'] }
            - if @header_tabs.any?
              - @header_tabs.each do |tab|
                = topnav_tab tab[:name], {:url => tab[:url], :section => [tab[:section]] }
          .spacerdiv
        / Header End
        / container Start
        .container
          #doc2{:class => "yui-t#{@sidebar_left ? 3 : 6}"}
            #bd
              = render :partial => "shared/messages"
              = yield
          -if show_footer?(controller.controller_name, controller.action_name)
            #ft
              .yui-gc#footer_content
                = image_tag 'spinner.gif', :plugin => 'community_engine'
                =:loading_recent_content.l

              %script{:type=>"text/javascript"}
                = remote_function(:update => "footer_content", :url => { :controller => 'base', :action => 'footer_content' })

            
  
