<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="/assets/jquery.ui.tabs.css" />
    <link href="/assets/style.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="/assets/jquery-1.4.4.js"></script>
    <script type="text/javascript" src="/assets/jquery.ui.core.js"></script>
    <script type="text/javascript" src="/assets/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="/assets/jquery.ui.tabs.js"></script>
    <script type="text/javascript" src="/assets/jquery.ddown.js"></script>
    <%= javascript_include_tag 'community_engine' %>
    <%=javascript_include_tag 'jquery-1.6.1.min'  %>

    <script type="text/javascript">
      jQuery(function() {
        jQuery('select').customStyle();
        jQuery(".btn").hover(function() {
          jQuery(this).addClass("hover");
        }, function() {
          jQuery(this).removeClass("hover");
        });
        jQuery(function() {
          jQuery("#tabs").tabs();
        });
      });
      jQuery.noConflict();
    </script>

    <!--[if IE]>
      <script type="text/javascript" src="js/html5enable.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="wrapper">
      <div class="reg-page2 styleselect">
        <div class="header">
          <div id="search_panel" style="width: 240px !important;">
            <div class="ddl_container" style="margin-top: 5px;">
              <span class="customStyleSelectBox">Buyer</span>
<%#*<select class="ddl">%>
<%#*<option>Buyer</option>%>
<%#*<option>Seller</option>%>
<%#*<option>Merchant</option>%>
<%#*</select>%>
            </div>
            <%= text_field_tag 'search', "", {:autocomplete => "off", :size => 35, :id => "search_to"}%>
            <input class="btnsearch" type="submit" value="" style="height: 22px!important;"/>
            <div class="auto_complete" id="search_to_auto_complete">
              <%= auto_complete_field 'search_to', {:url => auto_complete_look_for_index_path, :tokens=>','}%>
            </div>

            <div class="spacerdiv">
            </div>
          </div>
          <a href=<%="#{home_url}"%>>
            <img src="/assets/logo.png" width="251" height="69" alt="logo" /></a>
          <div class="spacerdiv">
          </div>
        </div>
        <div id="navigation">
          <a class="rt" href="<%= logout_url %>">Logout</a>
          <ul>
            <li><a class="current" href="<%= dashboard_user_path(current_user) %>">DASHBOARD</a></li>
            <li><a href="<%= forums_path %>">FORUMS</a></li>
            <li><a href="<%= popular_path %>">BLOGS</a></li>
            <li><a href="<%= groups_path %>">GROUPS</a></li>
            <li><a href="<%= events_path %>">EVENTS</a></li>
            <li><a href="<%= users_path %>">USERS</a></li>
            <%if current_user.present?%>
              <li><a href="<%= user_short_messages_path(current_user) %>">Short Message</a></li>
            <%end%>
          </ul>
          <div class="spacerdiv">
          </div>
        </div>
        <div id="content">
          <%= yield %>
        </div>
      </div>
      <div id="leftnav">
        <section>
          <div class="figure">
            <img src="<%= current_user.avatar_photo_url(:medium) %>" alt="" />
            <div class="figcaption"><%= current_user.name %></div>
          </div>
          <ul>
            <li><%= link_to :Messages, user_messages_path(current_user)%></li>
            <li><%= link_to :Blogs, user_posts_path(current_user)%></li>
            <li><a href="<%= forums_path %>">Forums</a></li>
            <li><%= link_to :Contacts, accepted_user_friendships_path(current_user)%></li>
            <li><a href="<%= user_events_path(current_user) %>">Events</a></li>
          </ul>
        </section>
      </div>
    </div>
    <br /><br /><br />
    <br />
    <br />
    <br />
  </body>
</html>
<style type="text/css">
  div.auto_complete {
    width: 350px;
    background: #ffffff; }
  div.auto_complete ul {
    border: 1px solid #888888;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: auto; }
  div.auto_complete ul li {
    margin: 0;
    padding: 3px; }
  div.auto_complete ul li.selected {
    background-color: #FFFDC0; }
  .auto_complete{
    margin-top:20px;
  }
  .auto_complete li{
    cursor: pointer;
    text-align: left;
    z-index: 10
  }
  .buyer_button{
    font-size: 11px;
    height: 19px;
    opacity: 0;
    position: absolute;
    float: left;
    width: 80px;
  }
</style>